html, body {
  height: 100%;
  margin: 0;
}

body {
    background-image: url("../images/background2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  div.transbox {
    margin: 30px;
    background-color: #ffffff;
    opacity: 0.8;
  }
  
  div.transbox p {
    margin: 5%;
    font-weight: bold;
    color: #000000;
  }

  img:hover {
    opacity: 1.0;
  }